// light mode colors
$light-blue: #0079ff;
$light-grey: #697c9a;
$light-navyblue: #4b6a9b;
$light-dark: #2b3442;

$text-danger: #f74646;
$text-lightmode: #f6f8ff;
$text-white: #ffffff;

$bg-bodylight: #f6f8ff;
$bg-lightmode: #fefefe;

$darkmode-blue: #0079ff;
$darkmode-white: #ffffff;
$darkmode-dark: #141d2f;
$darkmode-navyblue: #1e2a47;
